@model IEnumerable<User>
@{
    ViewData["Title"] = "User Page";
}

<h2 class="p-2 bg-primary text-white text-center rounded">Список зарегистрированных пользователей</h2>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Логин</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            if (user.State == 0)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>
                          <a asp-action="Detail" asp-route-id="@user.Id">@user.Name</a>

                    </td>
                    <td>@user.Email</td>
                    <td>@user.Login</td>
                   
                </tr>
                }
            }
        </tbody>
    </table>




