@model Book

<form asp-action="CreateBook" asp-controller="Book" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col">
            <label>Название</label>
            <input name="Name" class="form-control" placeholder="Название" required />
        </div>
        <div class="col">
            <label>Автор</label>
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <input type="text" class="form-control" value="@Model.User?.Name" readonly />
        </div>
        <div class="col">
            <label>Жанр</label>
            <select name="GenreId" class="form-control" required>
                <option value="" disabled selected>Выберите жанр</option>
                @foreach (var genre in ViewBag.Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
            </select>
        </div>
        <div class="col">
            <label>Дата публикации</label>
            <input name="ReleaseDate" type="date" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
        <div class="col">
            <br />
            <button type="submit" class="btn btn-primary">Опубликовать</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Страницы</h5>
            <div id="pages-container">
                @for (int i = 0; i < Model.Pages.Count; i++)
                {
                    <div class="form-group">
                        <label>Страница @i+1</label>
                        <textarea name="Pages[@i].Content" class="form-control" rows="4" placeholder="Введите текст страницы"></textarea>
                    </div>
                }
            </div>
            <button type="button" class="btn btn-secondary" id="add-page-button">Добавить страницу</button>
        </div>
    </div>
</form>


    <script>

        let pageCount = 0;

        document.getElementById('add-page-button').addEventListener('click', function () {
            const countPages = document.getElementById('countPages');
          

            const pagesContainer = document.getElementById('pages-container');
             console.log(`Added page ${pageCount}`);

            const newPage = document.createElement('div');
            newPage.classList.add('form-group');
            newPage.innerHTML = `
                        <label>Страница ${pageCount + 1}</label>
                        <textarea name="Pages[${pageCount}].Content" class="form-control" rows="4" placeholder="Введите текст страницы"></textarea>
                                     <input type="hidden" name="Pages[${pageCount}].PageNumber" value="${pageCount}" />
                        `;
            pagesContainer.appendChild(newPage);
            pageCount++;
        });
    </script>

